.texto{
    align-items: center;
    size: 2.5em;

}
.text1{
    size: 1.5em;
}
.text2{

}
.text3{
    text-align: right;
}
.footer2{
    display: flex;
    justify-content: space-around;
}
img, h1{
    display: inline-block;
}
ul{
    list-style: none;
}
li{
    list-style: none;
}
.borde{
    border: black 2px solid;
}
html{
    background-color:azure;
}
h4{
    border-radius: 10px;
    border-color: black;
}

